@{
    
}
<html>
<head>
   
</head>
<body>
    <div class="text-center">
        <input type="text" id="InpName" />
        <input type="text" id="InpLastName" />
        <button id="btn">Submit</button>
    </div>
</body>
</html>